* {
    box-sizing: border-box;
   
  } 
html {
    height: 2000px;
}
  #text {
      font-size: 20px;
  }
 
  .contact {
      font-size: 14px;
  }
  

  body {
      background-color: whitesmoke; 
      height: 1400px;

  }

#name {
    height: 90px;
    padding: 0% 0% 0% 0%;
    width: 100%;
    box-shadow: 5px 10px black;
    background: royalblue;
}
#title{
    margin-top: 10px;
    font-size: 40px;
    text-align: center;
}
#bg{
    padding: 15px;
    font-size: 15px;
    background-color: gainsboro;
}
#spot {
    padding: 10px;
    width: 600px;
    background-color: gainsboro;
    background-size: 100%;
    box-shadow: 5px 10px black;
    border: solid black;

}


hr {
    border-width: 2px;
    height: 3px;
    background-color: #cccccc;
}

.stuff {
    margin-top: 55px;
    border: solid 1px #cccccc;
    height: 600px;
    width: 60%;
    overflow: auto;
}

#pic {
    width: 200px;
    float: left;
    padding: 15px;
    margin: 0%;
}

#about {
    width: 50%;  
}

.me {
    margin-top: 10px;
}


#social {
    background-size: auto;
    width: 75px;
}

.git {
    width: 90px;
    height: 75px;
}

button:hover{
    background-color: black;
}

/* button {
    position: relative;
} */


.soc {
    border: solid black;
    height: 275px;
    margin-left: 115px;
    margin-top: 55px;
    box-shadow: 5px 10px black;
    overflow: auto;
}

h3{
    text-align: center;
}

#trivia {
    height: 250px;
}
.giph{
    background-color: black;
    width: 400px;
}

h4 {
    position: absolute;
    margin-top: 110px;
    margin-left: 50px;
}

#rows {
    margin-top: 75px;
}

#bottom {
    margin-top: 20px;
    position: relative;
    left: 25%;
    align-content: center;
}