* {
    box-sizing: border-box;
   
  } 

  #text {
      font-size: 20px;
  }
 
  .rainbow {
    background-image: linear-gradient(to left, rgb(230, 47, 230), indigo, blue,
    #d018e9ed, #181510, red);
    -webkit-background-clip: text;
    color: transparent;
  }

  body {
      background-color: whitesmoke;
      background-size: auto;
      height: 1200px;
      background-repeat: no-repeat;
  }

#name {
    padding: 0% 0% 0% 0%;
    width: 100%;
    box-shadow: 5px 10px black;
    background: royalblue;
}

#spot {
    background-image: 
    url("https://image.freepik.com/free-vector/brick-wall-realistic_1284-4683.jpg");
    background-repeat: no-repeat;
    background-size: 110% 100%;
    box-shadow: 5px 10px black;
    border: solid black;

}


hr {
    border-width: 2px;
    height: 3px;
    background-color: #cccccc;
}

.stuff {
    margin-top: 55px;
    border: solid 1px #cccccc;
    height: 600px;
    width: 60%;
    overflow: auto;
}

#pic {
    width: 200px;
    float: left;
    padding: 15px;
    margin: 0%;
}

#about {
    width: 50%;  
}



#social {
    width: 75px;
}

.git {
    width: 90px;
    height: 75px;
}

button:hover{
    background-color: black;

}

.soc {
    border: solid black;
    height: 275px;
    margin-left: 115px;
    margin-top: 55px;
    box-shadow: 5px 10px black;
    overflow: auto;
}

h3{
    text-align: center;
}

#giph{
    background-color: black;
    width: 400px;

}